.part__email {
  font-family: 'TT Lakes M1';
  font-size: 16px;
  margin-bottom: 12px;
}

.part__phone {
  font-family: 'TT Lakes B1';
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

.part__language a {
  text-decoration: none;
  font-family: 'TT Lakes M1';
  font-size: 18px;
  line-height: 24px;
  padding-right: 7px;
  color: #1B1C21;
}

.part__language .active {
  color: #7E7E82;
}

.part__language a:hover {
  color: #7E7E82;
}
.part__call:hover {
  filter: hue-rotate(240deg);
}

.part__chat:hover {
  filter: hue-rotate(240deg);
}

.part__profile:hover {
  filter: hue-rotate(240deg);
}
