.first-list_hidden {
  display: none !important;
}

@media screen and (max-width: 767.98px) {

  .list__another-devices {
    display: none;
  }

  .swiper-slide {

    margin-left: 16px;
  }


  .swiper-slide img {
    padding: 0 20px;
  }

  .items__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px !important;
    height: 72px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    margin-bottom: 16px;
    background-color: white;
    margin-top: 16px;
  }

  .list_button {
    align-self: center;
    height: 40px;
    width:  40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    margin-right: 16px;
    text-align: center;

  }

  .right {
    position: relative;
    top:  9px;
    border: 1px solid #FF3E79;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);

  }

  .swiper-pagination-bullet {
    background-color: #DDDDDD;
    width:  12px;
    height: 12px;
  }

}

@media screen and (min-width: 767.98px) and (max-width: 1015.98px) {
  .phone {
    display: none;
  }

  .items__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    width:  222px;
    height: 70px;
    margin-right: 17px;
    margin-bottom: 16px;
    background-color: white;
  }

  .list_image img {
    margin-left: 16px;
  }

  .items__part {
    display: flex;
    flex-wrap: wrap;
  }

  .laptop {
    display: none;
  }
}


@media screen and (min-width: 1015.98px) {

  .phone {
    display: none;
  }

  .items__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    width:  240px;
    height: 72px;
    margin-right: 27px;
    margin-bottom: 16px;
    background-color: white;
  }
  .items__part {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
  }

  .list_image img {
    margin-left: 16px;
  }

  .table {
    display: none;
  }

}
/*.list {
  background-color: #F8F8F8;
}*/
.list__header {
  font-family: 'TT Lakes R', serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  border-top: 1px solid #D9FFF5;
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);

}

.list__header h4 {
  margin-bottom: 0;
  padding-left: 16px;
  padding-bottom: 16px;
}

.another-devices__items {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 0 16px 24px;
}

.list_button {

  height: 40px;
  width:  40px;
  border: 2px solid #FF3E79;
  border-radius: 50%;
  margin-right: 16px;
  text-align: center;

}

.right {
  position: relative;
  top:  9px;
  border: 1px solid #FF3E79;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);

}

.first-button-show_rotate {
  transform: rotate(180deg);
}

.button-show {
  margin-left: 25px;
  background: #F8F8F8 url("../img/expand.svg") no-repeat;
  width: 20px;
  height: 24px;
  border: none;
}

.list_arrow {
  font-family: 'TT Lakes M2', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  vertical-align: top;

}



.swiper-pagination {
  position: relative;
}

.hidden {
  display: none;

}
