@media screen and (max-width: 767.98px) {

  .title__laptop-header { /**/
    display: none;
  }
  .title-line {
    position: absolute;
    left:  0;
    top: 112px;
    z-index: 1;
  }
  .title__header {
    font-family:  "TT Lakes B1", serif;
    margin: 0 16px 24px 16px;
    padding-top: 24px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1439.98px) {

  .title__laptop-header {
    display: none;
  }
  .title-line {
    position: absolute;
    left:  0;
    top: 112px;
    z-index: 1;
  }
  .title__header {
    font-family:  "TT Lakes B1", serif;
    margin:  0 16px 24px 16px;
    padding-top: 24px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
  }
}
@media screen and (min-width: 1439.98px) {
  .title-line {
    position: absolute;
    left:  321px;
    top: 42px;
    z-index: 1;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
    padding: 42px 0 0 0;
  }
  .title__laptop-header {
    display:  flex;
    font-family: 'TT Lakes M2', serif;
    align-items: center;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }
  .title__laptop-header div {
    margin-right: 32px;
  }

  .title__laptop-header span {
    margin-right: 9px;
  }

  .title__header {
    font-family: "TT Lakes B1", serif;
    margin-left: 32px;
    font-size: 28px;

    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
  }
}
