@media screen and (max-width: 767.98px) {

  .part-items__table {
    display: none;
  }
  .part-items__devider {
    border-right: 2px solid #EAEAEA;
    border-radius: 1px;
    height: 32px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    border-bottom: 1px solid #D9FFF5;
    background-color: white;
  }

  .menu__part-items {
    display: flex;
    align-items: center;
  }

  .menu__part-items div {
    margin: 8px;
  }
  .menu__part-items:nth-child(1) div:nth-child(2) {
    margin-left: 0;
  }

}

@media screen and (min-width: 767.98px) and (max-width: 1439.98px) {

    .part-items__devider-2 {
      border-right: 2px solid #EAEAEA;
      border-radius: 1px;
      height: 32px;
    }
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 88px;
      border-bottom: 1px solid #D9FFF5;
      background-color: white;
    }
    .menu__part-items {
      display: flex;
      align-items: center;
    }

    .menu__part-items div {
      margin: 8px;
    }

    .menu__part-items:nth-child(2) div:nth-child(2) {
      margin-left: 0;
    }

}

@media screen and (min-width: 1439.98px) {

      .menu {
        display: none
      }

}

